.weatherProject {
    max-width: 700px;
    margin: 30px auto;
    background-color: #f7c5ad;
    padding: 30px;
    border-radius: 20px;
}

h1 {
  text-align: center;
  position: relative;
  top: 30px;
  border: solid;
  border-color: #fea386;
  padding: 10px;
  border-radius: 10px;
}

.col-4 {
  border: solid;
  border-color: #fea386;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

h2 {text-align: center;
}

.forecast {
    display: block;
    margin: 0 auto;
    border: 3px solid #fea386;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.form {
    text-align: center;
}

button {
  background-color: #f19584;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 15px;
}